/* sobrepondo layout.css */
.container_12, .container_16 {
    background:none;
    width: 100%;
}
h1#branding {
    background:none;
}

h2#page-heading{
    border: none;
}
body{
    padding: 0;
}

/***********/
/* ttlocal */
/***********/
body{
    background: url('../images/bg-nuvem.jpg') no-repeat #9AE4E8;
    min-width: 320px;
    border: 0;
}
#container{
    background: url('../images/bg-nuvem.jpg') no-repeat bottom right transparent;
    min-width: 320px;
}

/********/
/* topo */
/********/
h1#branding{
    padding: 0;
    text-align: center;
}

h2#page-heading{
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    background-color: #fff;
    text-align: center;
}

/************/
/* conteudo */
/************/
.box{
    background: none;
}
.box h2 a, .box h2 a.visible {
    background: none;
}

#locations{
    min-height: 360px;
}

#locations .box h2, .box h2 a,
.box h2 a.visible {
    background: none;
    color: #DDEEFF;
    font-size:1.1em;
    margin: 0 auto;
    text-align: center;
}
#locations .box h1, .box h1 a,
.box h1 a.visible {
    background: none;
    color: #DDEEFF;
    font-size:1.1em;
    margin: 0 auto;
    text-align: center;
    padding: 6px 12px;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
}
#locations .topic{
    font-size: 1.2em;
}
#locations span.name{
    display: inline;
}
#locations .topic a{
    color: #333;
}

#locations .topic .twittericon{
    background:url("../images/twitter_16.png") no-repeat scroll right center transparent;
    padding:0 16px 0 3px;
    margin: 0;
    display: none;
}
#locations .topic .googleicon{
    background:url("../images/google_16.png") no-repeat scroll right center transparent;
    padding:0 16px 0 3px;
    margin: 0;
    display: none;
}

h1 span.version{
    font-size: 0.4em;
}
h2 span.version{
    font-size: 0.4em;
}

li.topic{
    list-style-type: none;
    margin-left: 10px;
}

#locations .local{
    min-width: 170px;
}
#locations .local .box{
    min-height:324px;
}
#locations h2 a{
    background-color: #5599BB;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}
#locations h1 a{
    background-color: #5599BB;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}
/********/
/* menu */
/********/
/*menu layout*/
nav{
    float: left;
    width: auto;
}
nav .filter{
    float: left;
}
nav ul.nav{
    float: right;
    width: 92%;
    padding-right: 2%;
}
nav ul li{
    float: left;
    width: 100%;
}
nav ul li li{
    width: auto;
    float: left;
}
nav ul.nav li a, ul.nav li a:hover{
    float: left;
}
nav ul li ul a, nav ul li ul a:hover {
    display: inline-block;
}
/*menu visual*/
nav{
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    background-color: #fff;
    text-align: left;
    padding: 1em 0;
    font-weight:normal;
    margin: 12px;
}
nav .filter{
    margin: 10px 2px 0 6px;
}
nav a{
    font-family: verdana, helvetica, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    padding: 1px 8px;
}
nav a:hover{
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    background-color: #5599BB;
    color: #FFF;
}
nav a:active{
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    background-color: #333;
    color: #FFF;
}
nav ul.nav{
    margin: 0 0 0 1em;
}
nav ul.nav li{
    list-style-type: none;
    margin: 0;
}
nav ul.nav li.placetype{
    padding: 4px 0 2px;
}
nav ul.nav li{
    padding: 0 0 1px;
}
nav ul.nav li.placetype{
    border-bottom: 1px #CCC solid;
}
nav ul.nav li.placetype:first-child{
    border-top: 1px #CCC solid;
}
nav ul.nav li.placetype a.first{
    font-weight: bold;
    min-width: 6em;
}
nav ul.nav ul{
    padding-left: 6em;
}
nav ul.nav ul li{
    margin-left: 10px;
}
nav ul.nav ul li.town span.country{
    font-size: 0.9em;
}

/*******************/
/* twiter facebook */
/*******************/
#like-buttons{
    float: right;
}
#fb-button{
    display: inline-block;
    float: right;
}
#follow-twitterapi{
    display: inline-block;
    float: right;
}
#profile_widget{
    margin-bottom: 20px;
}

/**********/
/* footer */
/**********/
#footer{
}
#footer #footer-left{
    float: left;
}
#footer #codexicoblog{
    float: right;
}

/**********/
/* tipTip */
/**********/
#tiptip_content {
    font-size: 1.25em;
}
#tiptip_content a{
    color: #fff;
    text-decoration: underline;
}