/* sobrepondo layout.css */
.container_12, .container_16 {
    background:none;
}
h1#branding {
background:none;
}

h2#page-heading{
    border: none;
}

/***********
* ttlocal  *
***********/
body{
    background: url('../images/bg-nuvem.jpg') no-repeat;
    background-color: #9AE4E8;
    min-width: 320px;
}

h1#branding{
    font-size:2.7em;
    font-weight:normal;
    margin-bottom:0;
    text-align:center;
    padding: 50px 0;
}

h2#page-heading{
    -moz-border-radius: 6px 6px 6px 6px;
    background-color: #fff;
    text-align: center;
}
.box{
    background: none;
}
.box h2 a, .box h2 a.visible {
    background: none;
}

#locations .box h2, .box h2 a,
.box h2 a.visible {
    background: none;
    color: #DDEEFF;
    font-size:1.1em;
    margin: 0 auto;
    text-align: center;
}
#locations .topic{
    font-size: 1.2em;
}
#locations .topic a{
    color: #333;
}
#locations span.name{
    display: inline-block;
}
h1 span.version{
    font-size: 0.4em;
}

li.topic{
    list-style-type: none;
    margin-left: 10px;
}

#locations .local{
    min-width: 170px;
}
#locations .local .box{
    min-height:324px;
}
#locations h2 a{
    background-color: #5599BB;
    -moz-border-radius: 6px 6px 6px 6px;
}
/*menu*/
#menu{
    width: auto;
    -moz-border-radius: 6px 6px 6px 6px;
    background-color: #fff;
    text-align: left;
    padding: 6px;
    font-size:1.3em;
    font-weight:normal;
    margin: 12px;
    float: left;
}
#menu .filter{
    float: left;
    margin: 10px 6px 0;
}
ul.nav{
    float: left;
    margin: 0;
}

ul.nav li a, ul.nav li a:hover{
    text-align: left;
    padding-left: 1em;
    min-width: 6em; /*menu width*/
}
ul.nav li ul li a{
    width: 17em; /*submenu width*/
}
ul.nav li ul li a .name{
    font-size: 1.3em;
}

/****************/
/*twiter goodies*/
/****************/
#follow-twitterapi{
    float: right;
}
#branding .twitter-share-button{
    float: right;
    margin-top: 10px;
}
#tbox{
    /*padding-left: 40px;*/
}
#profile_widget{
    margin-bottom: 20px;
}

/* facebook */
.fb_edge_widget_with_comment{
    float: right;
    padding-left: 20px;
    margin-top: -5px;
}

/* footer */
#footer{
    float: right;
}